<% layout('layout') %>

<% include ../partials/navbar %>

<br>

<div class="container">

    <h5 class="center-align"><i class="fa fa-cog" aria-hidden="true"></i> Admin</h5>
    <!-- <h6 class="center-align" style="color:red;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp; un message a éte envoye dans votre boite email</h6> -->
    <div class="row" style="margin-top: 20px;">
        <form class="col s8 offset-s4" id="add_ville" method="POST" action="/ville">
            <div class="row" style="margin-bottom:0px;">
                <div class="input-field col s6" style="margin-top:0px;">
                    <input id="new_ville" name="ville[name]" type="text" class="validate" required>
                    <label for="new_ville">Enter le nom d'une ville *</label>
                </div>
                <button class="btn btn-floating waves-effect waves-light cyan" type="submit" name="submit"><i class="material-icons right">add</i></button>
            </div>
        </form>
    </div>

    <div class="container">
        <ul class="collection with-header" id="ville-list">
            <li class="collection-header"><h5 class="center-align">Liste des Villes</h5></li>
            <% villes.forEach(function(ville){ %>
                <li class="collection-item">

                    <div class="row edit-form" style="margin-bottom:0px; margin-top:15px;">
                        <form class="col s8 offset-s4 form-edit" value="/ville/<%=ville._id%>" method="POST" action="/ville/<%=ville._id%>">
                            <div class="row" style="margin-bottom:0px;">
                                <div class="input-field col s6" style="margin-top:0px;">
                                    <input id="<%=ville._id%>" value="<%=ville.name%>" name="ville[name]" type="text" class="validate" style="margin-bottom:0px;">
                                    <label for="<%=ville._id%>">Modifier le nom d'une ville *</label>
                                </div>
                                <button class="btn btn-floating waves-effect waves-light green"><i class="material-icons right">check</i></button>
                            </div>
                        </form>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <h6 class="col s6">
                            <%= ville.name %>
                        </h6>
                            
                        <div class="col s6 right-align">
                            <button class="btn-floating waves-effect waves-light blue darken-1 edit-button"><i class="material-icons">edit</i></button>                      
                            <form style="display: inline" method="POST" action="/ville/<%=ville._id%>" class="delete-ville">
                                <button type="submit" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></button>
                            </form>
                        </div>
                    </div>

                </li>
            <% }); %>
        </ul>
    </div>

</div>